body{
    margin: 0;
    padding: 0;
    font-family: Candara, serif;
    font-size: 18px;
}
.navbar-brand{
    font-size: 25px;
}
.nav-link{
    font-size: 20px;
}
.card-img-top{
    width: 100%;
    height: 24vw;
    object-fit: cover;
}
.card .fa{
    font-size: 15px;
}
.login-card{
    margin-top: 120px;
    margin-bottom: 20px;
}

.form-control , .btn {
    outline: none !important;
    box-shadow: none !important;
}
.avatar{
    width: 40px;
    height: 40px;
}
.comment-username{
    font-size: 18px;
}
.comment{
    font-size: 16px;
}
.comment-time{
    font-size: 10px;
    font-family: Verdana, sans-serif;
}
.card .fa-circle{
    font-size: 7px;
}
.card-footer{
    background-color: #fff !important;
}


